<center>
<h2>You have succesfully booked a ticket!</h2>

<%=link_to 'My bookings', root_path if can? :create, Booking %>

<table class="u-full-width">

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
      <td><%= booking.timetable.try(:name) %></td>
        <td><%#= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) if can? :edit, Booking %></td>
        <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Booking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</center>