
<center>
<%= form_for(@category) do |f| %>
    <div id="error_explanation">
    </div>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
</center>